.user-login {
    margin-top: 10px;
}

.img-logo {
    width: 50px;
    height: 50px;
}

 .side-menu-bar{
    font-size: 0.8em;
    position: fixed;   
    height: 100%;
    width: 250px;
    background-color: #343a40;
    color:#fff;
}

ul.nav li.nav-item a.nav-link:hover{
    background-color: #67696b;
    color: #fff;
}

ul.nav li.nav-item a.nav-link{ 
    color: #fff;
}

.main-content{
    position: absolute;
}
